<div class="container mt-5">
    <div class="card p-2">

        <div class="row">
            <div class="col-6">
                <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>product_Name</mat-label>
                        <input matInput placeholder="product_Name" [(ngModel)]="product.productName" name="productName">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>product_Description</mat-label>
                        <input matInput placeholder="product_Description" [(ngModel)]="product.productDescription"
                            name="productDescription">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>product_DiscountedPrice</mat-label>
                        <input matInput placeholder="product_DiscountedPrice"
                            [(ngModel)]="product.productDiscountedPrice" name="productDiscountedPrice">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>product_ActualPrice</mat-label>
                        <input matInput placeholder="product_ActualPrice" [(ngModel)]="product.productActualPrice"
                            name="productActualPrice">
                    </mat-form-field>

                    <div align="end">
                        <button type="submit" *ngIf="isNewProduct" class="btn btn-primary"> Add NewProduct</button>&nbsp;

                        <button type="submit" *ngIf="!isNewProduct" class="btn btn-primary">Update NewProduct</button>&nbsp;
                        <button type="reset" class="btn btn-primary">Clear</button>
                    </div>

                </form>

            </div>

            <div class="col-6">

                <div>
                    <div class="dropzone" appDrag (files)="fileDropped($event)">
                        <div class="text-wraper">
                            <div class="centered">
                                Drag and Drop Your file or <a (click)="selectFile.click()"
                                    class="browse-button">browse</a> a file
                            </div>
                        </div>

                    </div>

                    <input type="file" multiple value="select" #selectFile (change)="onFileSelected($event)">
                </div>

                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="4" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let file of product.productImages; let i = index">
                                <div style="position: relative">
                                    <span class="btn-remove-image" (click)="removeImages(i)">
                                        x
                                    </span>
                                    <img [src]="file.url" width="100px" height="100px" alt="picture" />
                                </div>
                            </mat-grid-tile>

                        </mat-grid-list>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>